*{
  margin: 0;
  padding: 0;
}
main{
  display: flex;
  flex-direction: column;
}
.fila{
  height: 50vh;
  max-height: 50vh;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  font-family: sans-serif;
}
.texto{
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 40px;
  padding-left: 9rem;
  padding-right: 9rem;
}
.texto > p {
  text-align: left;
}
.img{
  width: 453px;
  height: 450px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
img{
  max-width: 100%;
  height: auto;
}
